.myCard {
  background: #ddd;
  box-shadow: 0 4px 4px rgba(black, 0.15);
  border-radius: 5px;
  margin: 24px 0 0 0;
  border: 1px solid rgba(black, 0.03);
  &__description {
    color: white;
    border-radius: 5px 5px 0 0 ;
    text-align: center;
    padding: 8px;
    font-size: 1.25rem;
    background: rgba(black, 0.75);
    margin-bottom: 4px;
  }
  &__title {
    width: 100%;
  }
  &__imageProduct{
    position: relative;
    width: 100%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 2px;
  }
}

.addButton {
  font-size: 1.5rem;
  padding: 8px 16px;
  background: #ffb00e;
  color: white;
  border: 2px solid #a57005;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  right: 16px;
  user-select: none;
  &:hover {
    transition: all .05s ease;
    background: #ffc040;
    font-size: 2.375rem;
    padding: 0 12px;
  }
}

.product {
  float: left;
  width: 50%;
  &__btncolor {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 6px;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(black, 0.1);
    border: 1px solid rgba(black, 0.12);
    cursor: pointer;
    font-weight: 700;
    &:hover {
      box-shadow: inset 0 0 4px rgba(black, 0.5);
    }
  }
  &__price {
    font-size: 0.75rem;
    font-weight: 300;
  }
}



// Responsive Design
@media screen 
  and (max-width: 768px) { 
    .addButton{
      &:hover {
        transition: none;
        background: #ffb00e;
        font-size: 1.5rem;
        padding: 8px 16px;
      }
    }
}