<div class="myCard">
  <div class="myCard__title">
    <div class="myCard__description">
      Camiseta {{product.attributes.title}}
    </div>
  </div>

  <div class="myCard__imageProduct" style="background: white">
    <div class="addButton" (click)="addToCart()" *ngIf="addButtonShow">+</div>
    <img [src]="urlImage" alt="img_product" style="width: 100%">
  </div>

  <div *ngFor="let item of arrType; let i = index" class="product" (click)="chooseItem(item)">
     <div *ngIf="item.attributes.color && item.attributes.price">
       <div class="product__btncolor" [ngStyle]="{'background-color': item.attributes.color, 'color': item.attributes.color === '#000000' ? 'white' : 'black'}">
         <div>{{item.attributes.color == '#000000' ? 'Black' : item.attributes.color == '#FFFFFF' ? 'White': item.attributes.color == '#CCCCCC' ? 'Gray' : 'Other Color'}} &nbsp;</div>
         <div class="product__price">/ {{item.attributes.price}}{{item.attributes.currency === 'EUR' ? '€' : item.attributes.currency}}</div>
       </div>
     </div>
   </div>
</div>
