<div class="navbar">
  <div class="container">
    <div class="titleStoreBox">
      <h1 class="titleStoreBox__title" >Store Title</h1>
      <div class="cart">
        <img src="assets/images/carritoicono.png" alt="" width="32px" height="32px" style="margin-right: 8px">
        <div class="cart__number">{{count == null ? 0 : count}}</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="typeFilterGender">
    <div class="typeFilterGender__men" (click)="chooseGender('hombre')">Hombre</div>
    <div>&nbsp;|&nbsp; </div>
    <div class="typeFilterGender__women" (click)="chooseGender('mujer')">Mujer</div>
  </div>
</div>

<div class="container">
  <div class="productBox">
      <product-item [product]="product" [included]="included" [gender]="gender" (countEvent)="receiveCount($event)" *ngFor="let product of products"></product-item>
  </div>  
</div>

<div class="container" *ngIf="count">
  <div class="basket">
    <h2 class="basket__title">Carrito: &nbsp; <span class="basket__counter">{{count == null ? 'vacio' : count}} Productos</span></h2>
    <ul style="padding-left: 20px">
      <li *ngFor="let item of cartItems; let i = index" class="basket__item">
        {{item}} &nbsp;
        <span class="basket__delete" (click)="deleteItemFromCart(i)">X</span>
      </li>
    </ul>
  </div>
</div>

<div class="footer">
  Test - Ruben Gallardo
</div>

