.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.navbar {
  background: #353535;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 3px 3px rgba(black,0.25);
}

.titleStoreBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 12px;
  color: white;
  &__title:hover {
    transition: color .3s ease-out;
    color: #df960e;
  }
}

.cart {
  color: #df960e;
  display: flex;
  align-items: center;
}

.productBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.typeFilterGender {
  color: #df960e;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  &__women:hover, &__men:hover{
    cursor: pointer;
    color: #b87c0e;
    text-decoration: underline;
  }
}

.productBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.basket {
  width: 100%;
  margin-top: 2rem;
  padding: 10px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 6px;
  min-width: 300px;
  &__title {
    margin: 0;
    color: #df960e;
  }
  &__item {
    font-weight: 300;
    font-size: 0.935rem;
    margin-top: 4px;
  }
  &__counter {
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
  }
  &__delete {
    font-weight: 400;
    user-select: none;
    color: red;
    cursor: pointer;
    font-size: 1.125rem;
  }
}

.footer {
  background: #353535;
  color: white;
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
  align-self: flex-end;
  margin-top: 32px;
}



// Responsive Design
@media screen 
  and (max-width: 900px) { 
    .productBox {
      flex-direction: column;
      align-items: center;
    }
}