/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

app-root {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}